body{
    margin: 0px;
}


#slider_container{
    display: flex;
    justify-content: center;
}

#slider_wrapper{
    position: relative;

    overflow: hidden;
    width: 350px;
}

#slider_wrapper ul {
    list-style: none;
    
    display: flex;
    justify-content: center;


    position: relative;
    height: 200px;
    padding-left: 0px;
}

.arrow{
    position: absolute;

    bottom: 0;

    z-index: 1;
    width: 50px;
    height: 50px;
    margin-bottom: 25px;
}

#leftArrow{
    left: 0;
}

#rightArrow {
    right: 0px;
}

#slider_wrapper ul li {
    float: inline-start;
}

/*image slider style */
#slider_wrapper ul img{
    display: inline;
    max-width: 350px;
}





/*tablets*/
@media screen and (min-width:768px) and (max-width:1280px) {

    #slider_wrapper{
        width: 750px;
    }

    #slider_wrapper ul{
        height: 421px;
    }

    .arrow{
        width: 75px;
        height: 75px;
        margin-bottom: 37px;
    }

    #slider_wrapper ul img{
        max-width: 750px;
    }

}

/*laptop*/
@media screen and (min-width:1280px)  {

    #slider_wrapper{
        width: 1100px;
    }

    #slider_wrapper ul{
        height: 618px;
    }

    .arrow{
        width: 75px;
        height: 75px;
        margin-bottom: 37px;
    }

    #slider_wrapper ul img{
        max-width: 1100px;
    }
}